* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Primary Colors */
  --color-deep-blue: #1a1a40;
  --color-dark-gray: #2c2c2c;
  --color-nav-gradient-start: #1e3a8a;
  --color-nav-gradient-end: #3b82f6;

  /* Accent Colors */
  --color-red: #e63946;

  /* Background Colors */
  --color-white: #f8f9fa;
  --color-light-gray: #e0e0e0;

  /* Text Colors */
  --color-text-light: #f8f9fa;
  --color-text-dark: #2c2c2c;
  /--color-text-black: #000000;
  --color-text-light-gray: #d1d5db;
}

body {
  font-family: "Poppins", "Roboto", sans-serif;
  background: linear-gradient(to bottom, var(--color-deep-blue), #000080);
}

#navbar {
  color: var(--color-text-light-gray);
  padding: 1rem 0;
  font-size: 1.1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.nav-list li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
}

.nav-list li a {
  text-decoration: none;
  color: var(--color-text-light-gray);
}

.nav-list li a:hover {
  color: var(--color-red);
}

.welcome-section {
  font-family: "Poppins", "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-light);
  font-size: 4rem;
}

.colombia-flag .yellow {
  color: #ffd700; /* Yellow color */
}

.colombia-flag .blue {
  color: #0033a0; /* Blue color */
}

.colombia-flag .red {
  color: #ce1126; /* Red color */
}

.typing-text {
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(30, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 1096.28px;
  }
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--color-text-light-gray);
  position: relative;
  top: 2rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
  top: 4rem;
}

.social img {
  height: 50px;
  width: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  transition: transform 0.2s ease-in-out;
}

.social img:active {
  transform: scale(0.9);
}

.projects {
  padding: 4rem 2rem;
  background: linear-gradient(to bottom, #000080, #2b2b2b);
  border-top: 2px solid #3a5166;
}

.projects h2 {
  text-align: center;
  color: #dcdcdc;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.project-tile {
  display: flex;
  flex-direction: column;
  border: 2px solid #444444;
  width: fit-content;
  background-color: #2f2f2f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(58, 81, 102, 0.3);
}

.project-tile img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  filter: brightness(0.95);
}

.project-tile h3 {
  text-align: center;
  color: #dcdcdc;
  margin-top: 0.8rem;
  font-weight: bolder;
}

.buttons-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-project button {
  background-color: #3a5166;
  color: #dcdcdc;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 1rem;
  font-size: 1.2rem;
}

.buttons-project button:hover {
  background-color: #2c3b4a;
}

.contact {
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(to bottom, #2b2b2b, #1a1a1a);
  color: var(--color-light-gray);
  border-top: 2px solid #3a5166;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--color-light-gray);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.contact p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-light-gray);
}

.contact a {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #1e7cd3;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact a:hover {
  background-color: #2c3b4a;
  transform: translateY(-5px);
}

.contact a:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  /* Adjust this value as needed */
  .projects-container {
    justify-content: center; /* Center the tiles on small screens */
  }

  .project-tile {
    width: 90%; /* Adjust width to fit smaller screens */
    max-width: 300px; /* Set a maximum width */
    margin: 1rem; /* Add some margin around the tiles */
  }

  .project-tile img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .projects h2 {
    font-size: 2.5rem; /* Reduce the font size of the heading */
  }
}
