* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

:root {
  /* Primary Colors */
  --color-deep-blue: #1a1a40;
  --color-dark-gray: #2c2c2c;
  --color-nav-gradient-start: #1e3a8a; /* Deep Blue Start */
  --color-nav-gradient-end: #3b82f6; /* Light Blue End */

  /* Accent Colors */
  --color-red: #e63946;

  /* Background Colors */
  --color-white: #f8f9fa;
  --color-light-gray: #e0e0e0;

  /* Text Colors */
  --color-text-light: #f8f9fa; /* White */
  --color-text-dark: #2c2c2c; /* Dark Gray */
  --color-text-black: #000000; /* Black */
  --color-text-light-gray: #d1d5db; /* Light Gray */
}

body {
  font-family: "Poppins", "Roboto", sans-serif;
}

.welcome {
  background: linear-gradient(to bottom, var(--color-deep-blue), #000080);
}

#navbar {
  color: var(--color-text-light-gray);
  padding: 1rem 0;
  font-size: 1.1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.nav-list li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
}

.nav-list li:hover {
  color: var(--color-red); /* Red on hover */
}

.welcome-section {
  font-family: "Poppins", "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-light);
  font-size: 4rem;
}

.typing-text {
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(30, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 1096.28px;
  }
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--color-text-light-gray);
  position: relative;
  top: 2rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
  top: 4rem;
}

.social img {
  height: 50px;
  width: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  transition: transform 0.2s ease-in-out;
}

.social img:active {
  transform: scale(0.9);
}
